<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libello - admin panel</title>

    <!-- bootstap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container{
        display: flex;
        align-items: center;
        padding: 50px;
        height: 100vh;
        flex-direction: column;
        margin: 0;
    }

    h4{
        margin-bottom: 70px;
    }

    tr{
        border-bottom: 1px solid black;
    }

    th{
        padding: 10px;
        padding-bottom: 1px;
        padding-top: 1px;
    }

    form{
        margin: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        padding: 50px;
    }

    label{
        margin-top: 10px;
    }

    .btn{
        margin-top: 10px;
    }

</style>
<body>
    <!-- TODO: Add admin panel features like: adding users, disabling accounts, reseting passwords ect. -->
    <!-- TODO: Adding users has to be done with use of bcrypt to encrypt passwords -->
    <div class="container">
        <b><h1>Panel administratora</h1></b> 
        <h4>Zarządzaj użytkownikami</h4>

        <table>
            <tr>
                <th>Nazwa użytkownika</th>
                <th>Klasa</th>
                <th>Kierunek</th>
                <th>Admin</th>
                <th>Status konta</th>
            </tr>
            <% users.forEach(u => { %>
                <tr>
                    <th> <%= u.username %></th>
                    <th> <%= u.class %></th>
                    <!-- TODO: Clean up the code -->
                    <% if(u.course === 1){ %>
                        <th>Informatyk</th>
                    <% } else if(u.course === 2){ %>
                        <th>Logistyk</th>
                    <% } else { %>
                        <th style="color: red;">Nie podano</th>
                    <% } %>
                    
                    <% if(u.isAdmin === 1) { %>
                        <th>Tak</th>
                    <% } else { %>
                        <th>Nie</th>
                    <% } %>

                    <% if(u.isAccountBlocked === 1){ %>
                        <th style="color: red;">Zablokowane</th>
                    <% } else { %>
                        <th style="color: green;">Aktywne</th>
                    <% } %>
                </tr>
            <% }) %>
        </table>

        <form method="post">
            <h4 style="margin: 0; margin-bottom: 10px;">Dodaj nowego użytkownika</h4>
            <% if (typeof error !== 'undefined' && error) { %>
                <% if(error === "registerSuccess"){ %>
                    <div class="alert alert-success">
                        Rejestrowanie użytkownika przebiegło pomyślnie
                    </div>
                <% } else { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
            <% } %>
            
            <label for="username">Nazwa użytkownika: </label>
            <input  type="text" id="username" name="username">

            <label for="password">Hasło: </label>
            <input type="password" id="password" name="password">

            <label for="passwordConfirmation">Powtórz hasło: </label>
            <input type="password" id="password" name="passwordConfirmation">

            <label for="classa">Klasa: </label>
            <input type="number" id="classa" name="classa" max="5" min="1">

            <label for="course">Kierunek: </label>
            <select id="course" name="course">
                <option value="0">-- WYBIERZ --</option>
                <option value="1">Informatyk</option>
                <option value="2">Logistyk</option>
            </select>

            <input type="submit" class="btn btn-primary" value="Dodaj użytkownika">
        </form>
    </div>
</body>
</html>